/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-light: #fdeabd;
  --primary: #ffd166;
  --primary-dark: #e2a311;
}
