/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-light: #c2eef1;
  --primary: #33cfcf;
  --primary-dark: #1c7c7c;
}
